<bot_settings>
	<connection_settings>
		<name>IRCBot</name>
		<nick>IRCBot</nick>
		<password></password>
		<email></email>
		<owner></owner>
		<port>6667</port>
		<server></server>
		<chan_list></chan_list>
		<command_prefix>.</command_prefix>
		<keep_logs>True</keep_logs>
		<logs_path></logs_path>
		<start_with_windows>False</start_with_windows>
		<spam_count>5</spam_count>
		<spam_threshold>1000</spam_threshold>
		<spam_timeout>10000</spam_timeout>
		<max_message_length>450</max_message_length>
	</connection_settings>
  <!-- Module Settings -->
  <!-- Do not remove elements, but you can change values -->
  <modules>
    <module>
      <name>Ping Me</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Seen</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Access</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Moderation</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Owner</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Help</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Rules</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Messaging</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Intro</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Quote</name>
      <enabled>True</enabled>
      <options>
        <allow_lookup>
          <type>checkbox</type>
          <checked>True</checked>
          <label>Allow Quote Lookup by Nick</label>
        </allow_lookup>
      </options>
    </module>
    <module>
      <name>Weather</name>
      <enabled>True</enabled>
      <options>
        <allow_weather>
          <type>checkbox</type>
          <checked>True</checked>
          <label>Allow Current Weather</label>
        </allow_weather>
        <allow_forecast>
          <type>checkbox</type>
          <checked>True</checked>
          <label>Allow Forecast</label>
        </allow_forecast>
        <forecast_days>
          <type>textbox</type>
          <value>5</value>
          <label>Days to forecast (5 Max)</label>
        </forecast_days>
      </options>
    </module>
    <module>
      <name>Google</name>
      <enabled>True</enabled>
      <options>
        <show_url>
          <type>checkbox</type>
          <checked>True</checked>
          <label>Show URL of result</label>
        </show_url>
      </options>
    </module>
    <module>
      <name>Urban Dictionary</name>
      <enabled>True</enabled>
      <options>
        <show_url>
          <type>checkbox</type>
          <checked>True</checked>
          <label>Show URL of result</label>
        </show_url>
      </options>
    </module>
    <module>
      <name>8ball</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>HBomb</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Fun</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Response</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Chat</name>
      <enabled>True</enabled>
      <options>
        <chat_timeout>
          <type>textbox</type>
          <value>20</value>
          <label>Chat Timeout in Seconds</label>
        </chat_timeout>
      </options>
    </module>
    <module>
      <name>Poll</name>
      <enabled>True</enabled>
    </module>
    <module>
      <name>Roll Call</name>
      <enabled>True</enabled>
      <options>
        <roll_call_message>
          <type>textbox</type>
          <value>It's time for a Roll Call</value>
          <label>Roll Call Message</label>
        </roll_call_message>
      </options>
    </module>
  </modules>
</bot_settings>